spring:
  application:
    name: startahb-leave-service

  datasource:
    url: jdbc:mysql://localhost:3306/startahb_leave_db
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

  sql:
    init:
      mode: always

server:
  port: 8086

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/ # to register this service with service registry..

logging:
  level:
    org.hibernate.SQL: DEBUG

jwt:
  secretKey: XQE8EqXc/LmVzh61R4HcGgCR5SpkoYMpBLSHIbrZl2Q=
  expirationMs: 3600000
  refreshExpirationMs: 86400000
